<ion-tabs>
  <ion-tab-bar slot="bottom" class="shadow-[0_-1px_0_0_rgba(0,0,0,0.06)]">
    <ion-tab-button tab="home" href="/tabs/home">
      <ion-icon name="home-outline" aria-hidden="true"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="categories" href="/tabs/categories">
      <ion-icon name="grid-outline" aria-hidden="true"></ion-icon>
      <ion-label>Categories</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="progress" href="/tabs/progress">
      <ion-icon name="stats-chart-outline" aria-hidden="true"></ion-icon>
      <ion-label>Progress</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="profile" href="/tabs/profile">
      <ion-icon name="person-outline" aria-hidden="true"></ion-icon>
      <ion-label>Profile</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
